<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Балансировщик нагрузки</title>
</head>
<body>
    <h1>Балансировщик нагрузки</h1>
    <h2>Инстансы:</h2>
    <div id="instance-list">
        {% if instances %}
            <ul>
                {% for instance in instances %}
                    <li>{{ loop.index0 }}: {{ instance.url }} - {{ instance.status }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Нет доступных инстансов.</p>
        {% endif %}
    </div>
    
    <h2>Добавить инстанс:</h2>
    <form action="/add_instance" method="post">
        IP: <input type="text" name="ip" required><br>
        Port: <input type="text" name="port" required><br>
        <input type="submit" value="Добавить">
    </form>
    
    <h2>Удалить инстанс:</h2>
    <form action="/remove_instance" method="post">
        Index: <input type="text" name="index" required><br>
        <input type="submit" value="Удалить">
    </form>
</body>
</html>



